{% extends "layout.html" %}

{% block title %} Home {% endblock %}


{% block main %}
    <h1>Index do WishVerse</h1>
    <h3>página home, que vai aparecer se a pessoa estiver logada ou não, é para explicar o que o projeto faz, vai mostrar que da para se registrar, adicionar produtos na lista, colocar os links que quiser, o preço do produto, que da para alterar as informações de cada produto, alterar senha, cidade, estado, país, moedas.
    </h3>


    <a href="/add">Adicione itens na lista</a>
{% endblock %}