{% extends "layout.html" %}

{% block title %}: Login{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <label for="username">User:</label>
        <input autofocus autocomplete="on" class="form-control " id="username" name="username" placeholder="User..." type="text">

        <label for="password">Password:</label>
        <input autocomplete="on" class="form-control" id="password" name="password" placeholder="Password..." type="password">

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}