{% extends "layout.html" %}

{% block title %}: Login{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <label for="user_name">User:</label>
        <input autofocus autocomplete="on" class="form-control " id="user_name" name="user_name" placeholder="User..." type="text">
user_name
        <label for="password">Password:</label>
        <input autocomplete="on" class="form-control" id="password" name="password" placeholder="Password..." type="password">

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}